@import 'tailwindcss';

@plugin "daisyui" {
  themes: all;
}

@plugin "daisyui/theme" {
  name: 'brainwave';
  default: true;
  prefersdark: false;
  color-scheme: 'light';

  --color-primary: #cae9ff;
  --color-primary-content: #1f2937;
  --color-secondary: #64748b;
  --color-secondary-content: #ffffff;
  --color-accent: #22c55e;
  --color-accent-content: #ffffff;
  --color-neutral: #1f2937;
  --color-neutral-content: #ffffff;
  --color-base-100: #ffffff;
  --color-base-200: #f3f4f6;
  --color-base-300: #e5e7eb;
  --color-base-content: #1f2937;
  --color-info: #5fa8d3;
  --color-info-content: #ffffff;
  --color-success: #77a88d;
  --color-success-content: #ffffff;
  --color-warning: #ffd000;
  --color-warning-content: #1f2937;
  --color-error: #ff6670;
  --color-error-content: #ffffff;
}

html {
  scroll-behavior: smooth;
}
